<%- include("partials/header.ejs") %>

<h3 id="level-title">TAP HERE TO START</h3>
<div class="game-container">
  <div class="game-row">
    <div type="button" id="green" class="game-btn green"></div>

    <div type="button" id="red" class="game-btn red"></div>
  </div>

  <div class="game-row">
    <div type="button" id="yellow" class="game-btn yellow"></div>
    <div type="button" id="blue" class="game-btn blue"></div>
  </div>

  <div class="alert alert-primary invisible" role="alert"></div>
</div>

<script src="scripts/game.js" defer></script>
<%- include("partials/footer.ejs") %>
