<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">How To Play</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">At the start of the game, a random colour square flashes (say blue).
        <br/><br/>
        Then the player has to click on the blue square. Next, say the red square flashes. Now the player has to click the blue square and then the red square.
        <br/><br/>
        So with each new level, the player has to remember and click out the whole sequence.
    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" >Got it!</button>
      </div>
    </div>
  </div>
</div>
